<h2> My Fields</h2>

<div>
  <label>Field location:
    <input #fieldLocation />
  </label>
  <label>Field name:
    <input #fieldName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(fieldLocation.value, fieldName.value); fieldName.value=''; fieldLocation.value=''"> add </button>
</div>

<ul class="fields">
  <li *ngFor="let field of fields">
    <a routerLink="/fields/{{field.id}}">
      <span class="badge">{{field.id}}</span> {{field.location}} - {{field.name}}
    </a>
    <button mat-list-item>
      <a routerLink="/field-book"> Book it! </a>
    </button>
    <button class="delete" title="delete field" (click)="delete(field)">x</button>
  </li>
</ul>
