<div *ngIf="field">
  <h2> {{field.location | uppercase}} {{field.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{field.id}}
  </div>
  <div>
    <label>location:
      <input [(ngModel)]="field.location" placeholder="location">
    </label>
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="field.name" placeholder="name">
    </label>
  </div>

  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

  <app-reservations [field]="field"></app-reservations>

</div>
