<div id="search-component">
  <h4>Check reservation availability</h4>


  <input #startDate id="start-date" />
  <input #endDate id="end-date" />
  <button (click)="checkAvailability(startDate.value, endDate.value)">Check</button>

  <div *ngIf="fields">
    <mat-nav-list>
      <h2 mat-subheader>Fields available between :</h2>

      <mat-list-item *ngFor="let field of fields">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <a routerLink="/fields/{{field.id}}">
          <span>{{field.id}}</span>
          <span>{{field.name | uppercase}} - {{field.location | uppercase}}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
